# OSX
#
.DS_Store
# Ignore Google Services configuration
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle
